body {
	margin: 0;
	padding: 0;
	font-family: tahoma, serif;
}

.hero {
	width: 100%;
	background: url("bg.jpg");
	min-height: 650px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.form-card {
	left: 32%;
	top: 20%;
	position: absolute;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3.3px);
	-webkit-backdrop-filter: blur(3.3px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	width: 30%;
	min-height: 400px;
	padding: 12px 15px;
}

h1 {
	font-size: 2.2vw;
	text-align: center;
	color: #1FB2A7;
}

form {
	padding: 5px 14px;
	margin-top: 30px;
}

form label {
	color: #0B0E16;
	font-size: 1.6vw;
	font-weight: 600px;
}

form input {
	padding: 8px 14px;
	width: 85%;
	border: none;
	outline: none;
	border-radius: 3px;
	margin-top: 8px;
}

form input:focus {
	border: 2px solid #1FB2A7;
}

button {
	width: 96%;
	background: #1FB2A7;
	padding: 10px 13px;
	border: transparent;
	outline: none;
	font-size: 1.5vw;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	cursor: pointer;
}